// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.organ {
  width: 1000px;
  display: flex;
  height: 300px;
  margin: 0 auto;
  border: 2px solid gray;
}

section {
  float: left;
  height: 100%;
  flex-basis: 100%;
  border-right: 1px solid black;
  line-height: 550px;
  text-align: center;

} //keys

.sharp {
  position: absolute;
  width: 60px;
  height: 200px;
  background-color: black;
  color: white;
  margin-left: -30px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 360px;
}

.playing{
  background-color: yellow;
}

.organ section:last-of-type{
  border-right: none;

}
